{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <div class="mb-3">
            <label for="username">Email :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
{% endblock %}
